@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink: #fd039d;
  --yellow: #f3d038;
  --purple: #56396f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pink: var(--pink);
  --color-yellow: var(--yellow);
  --color-purple: var(--purple);
  --font-retro: var(--font-retro);
  --font-yourmate: var(--font-yourmate);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
